*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.navbar-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.list{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(121,123,123);
}
.list-item:first-child{
    color: black;
    font-weight: bold;
}
.button-group{
    position: relative;
    left: 45%;
}
.nav-button{
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 7px;
    padding: 15px 20px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
.heading-text{
    font-size: 67px;
}
.heading-text span{
    color: blue;
}
.description{
    margin: 5% 0;
    color: rgb(121,123,123);
    font-size: 1.6em;
}
.nav-button-btn{
   margin: 10% 0;
   background-color: blue;
   color: white;
   border: none;
   border-radius: 7px;
   padding: 15px 20px;
}
.banner-container img{
    height: auto;
    width: 800px;
}
.navbar-container img{
    width: 100px;
    height: auto;
}